* {
	padding: 0;
	margin: 0;
	border: none;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-height: 100vh;
  color: #969BB3;
  background-color: #EDEBE3;
}
.container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  font-size: 2.6rem;
  padding-top: 4rem;
  padding-bottom: 2rem;
  color: #505980;
}

h2 {
  font-size: 1.8rem;
  font-weight: 100;
}

.fa-solid.fa-plus {
  opacity: 0;
  font-size: 2.6rem;
  transition: opacity 0.1s ease;
}


.bayan-container {
  cursor: pointer;
  pointer-events: auto;
  z-index: 2;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items:center;
}
.bayan-container:hover {
  color: #505980;
}
.bayan-container:hover .fa-solid.fa-plus {
  opacity: 1;
}
.bayan-container input {
  display: none;
}

.bayan-container label {
  text-align: left;
  padding: 2rem;
  transition: all 0.7s;

}

.bayan-container input:checked + label {
  color: #30354D;
}

.bayan-inner {
   overflow: hidden;
   max-height: 0rem;
   transition: all 0.3s ease-in-out;

}
.bayan-container input:checked ~ .bayan-label .bayan-inner {
  overflow: auto;
  max-height: 100rem;
  padding-top: 2rem;
  transition: all 0.7s ease-in-out;
}

.bayan-container input:checked ~ .bayan-label .bayan-inner img {
  transform: scale(1, 1);
}

.bayan-container input:checked ~ .bayan-label .fa-solid.fa-plus{
  transform: rotate(45deg);
  transition: all 0.3s ease;
}

.single-bayan label:hover {
  background-color: #F8F7F4;
  box-shadow: 0 0.3rem 1rem -0.2rem #666b83;
}
.bayan-container label:hover .fa-solid.fa-plus{
  transform: rotate(45deg);
  transition: all 0.3s ease;
}

.bayan-container label:hover .bayan-inner {
  overflow: auto;
  max-height: 50rem;
  padding-top: 2rem;
  transition: all 0.7s ease-in-out;
}

.bayan-inner img {
  width: 100%;
  transform: scale(0.8, 0.8);
  transform-origin: center center;
  transition: all 1s ease-in-out;
}
.bayan-container label:hover .bayan-inner img {
  transition: all 0.7s ease-in-out;
  transform: scale(1, 1);
}
.single-bayan {
  display: flex;
  border-bottom: 0.2rem solid #777672;
}
.bayan-label {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
}
.bayan-title {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

footer {
  display: flex;
  justify-content: center;
}
.contacts {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.contacts a {
  text-decoration: none;
  color: #969BB3;
  font-size: 1.2rem;
  text-transform: uppercase;
}

@media screen and (min-width: 320px)  {
  h1 {
    font-size: 1.6rem;
  }
  h2 {
    font-size: 1.2rem;
  }
  .fa-solid.fa-plus {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 640px)  {
  .bayan-container {
    width: 90%;
  }
}

@media screen and (max-width: 819px)  {
  h1 {
    font-size: 2.0rem;
  }
  h2 {
    font-size: 1.4rem;
  }
  .fa-solid.fa-plus {
    font-size: 2.0rem;
  }
  .bayan-container {
    width: 60%;
  }
}

@media screen and (max-width: 1919px)  {
  h1 {
    font-size: 2.2rem;
  }
  h2 {
    font-size: 1.6rem;
  }
  .fa-solid.fa-plus {
    font-size: 2.2rem;
  }
}