* {
	padding: 0px;
	margin: 0px;
	border: none;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-height: 100vh;
  color: #505980;
  font-size: 10px;
  background-color: #EDEBE3;
}
.container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  font-size: 2.6rem;
  padding-top: 40px;
}

h2 {
  font-size: 1.8rem;
  font-weight: 100;
}
.fa-solid.fa-plus {
  opacity: 0;
  font-size: 2.6rem;
  transition: opacity 0.1s ease;
}
.bayan-container {
  cursor: pointer;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items:center
}

.bayan-container:hover .fa-solid.fa-plus {
  opacity: 1;
}
.bayan-container input {
  display: none;
}

.bayan-container label {
  text-align: left;
  padding: 2rem;
  transition: all 1s;

}

.bayan-container input:checked + label {
  color: #30354D;
}
.bayan-inner {
   overflow: hidden;
   max-height: 0rem;
   transition: all 1s;

}
.bayan-container input:checked ~ .bayan-label .bayan-inner {
  overflow: auto;
  transition: all 1s;
  max-height: 100rem;
}

.bayan-container input:checked ~ .bayan-label .fa-solid.fa-plus{
  transform: rotate(45deg);
  transition: all 0.3s ease;
}

.bayan-container label:hover {
  background-color: #F8F7F4;
  box-shadow: 0 0.3rem 1rem -0.2rem #666b83;
}
.bayan-container label:hover ~ .bayan-label {
  overflow: auto;
  transition: all 1s;
  max-height: 100rem;
}
.bayan-inner {
  padding-top: 20px;
}
.single-bayan {
  display: flex;
  border-bottom: 0.2rem solid #777672;
}
.bayan-label {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.bayan-title {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}